<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learn States</title>
      <link rel="stylesheet" href="../static/bootstrap.min.css"> <!-- integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
      <link href="../static/jumbotron-narrow.css" rel="stylesheet">
      <link href="../static/signup.css" rel="stylesheet">

      <!--<script src="../static/js/jquery-3.3.1.js"></script>-->
      <!--<script src="../static/js/submitState.js"></script>-->
      <script type="text/javascript">
        document.getElementById("btnTryAgain").onclick = function () {
            location.href = "/states";
            };
        </script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Practice US States - guess all the states</h3>
      </div>

      <div class="jumbotron">
        <h1>This is what you have missed:</h1>

        {% for state in stateList %}
          {% if state not in statesGuess %}
          <p>{{ state }}</p>
          {% endif %}
        {% endfor %}
        <p> </p>
          <button class="btn btn-lg btn-primary btn-block" onclick="window.location.href='/states'">Try again</button>

      </div>




      <footer class="footer">
        <p>&copy; Marius 2018 </p>
      </footer>

    </div>
  </body>
</html>